
{% extends 'base.html' %}

{% load static %}



{% block content %}



<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>

            
              {% if product.is_sale %}
              <span class="text-muted text-decoration-line-through">${{ product.price }}</span>
              ${{ product.sale_price }}

              {% else %}
              ${{ product.price }}
              
              {% endif %}
              <br><br>
              <select class="form-select">
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <br><br>
              <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
              <button class="btn btn-secondary" type="button" value="{{ product.id }}" id="add-cart">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
</div>

<script>
// check if button pressed 
$(document).on('click', "#add-cart", function(e){
    e.preventDefault();
    $.ajax({
        type:'POST',
        url: '{% url 'cart_add' %}',
        data: {
            product_id: $('#add-cart').val(),
            csrfmiddlewaretoken: '{{ csrf_token }}',
            action: 'post'
        },

        success:function(json){
            //console.log(json)
            document.getElementById("cart_quantity").textContent = json.qty
        },
        
        error: function(xhr, errmsg, err){

        }
    });
})


</script>

{% endblock %}