
{% extends 'base.html' %}

{% load static %}



{% block content %}



<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update User Info</h1>
            <p class="lead fw-normal text-white-50 mb-0">Update to into </p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
            <br>
            <div class="col-md-6 offset-md-3">
                <br><br>
                <strong>Billing Information</strong>
                <br><br>
                <form method="POST" action="{% url 'update_info' %}">
                    {% csrf_token %}
                        {{ form.as_p }}
                        <br><br>
                        <strong>Shipping Information</strong>
                        {{ shipping_form.as_p }}
                        <button type="submit" class="btn btn-secondary ">Update Profile</button>
                    </form>
                    <br><br><a class="btn btn-success" href="{% url 'update_password' %}">Update Password</a>
            </div>
    </div>
</div>



{% endblock %}